<a href="https://colab.research.google.com/github/nasywaauliya2/Pemerograman-Dasar/blob/main/praktikum2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variable list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variable list
numbers [0] #23
numbers [1] #43
numbers [2] #15
numbers [3] #34
# cara mengubah nilai elemen dalam variable list
numbers [2] #51
numbers [2] #51

print (numbers[0])
print (numbers[1])
print (numbers[2])
print (numbers[3])
print (numbers[2])

23
43
15
34
15

In [ ]:
# deklarasi variable list numbers
numbers = [1, 2, 3]
# menambahkan elemen di indeks ke-4
numbers.insert (4, 5)   #[1, 2, 3, 5]
# mengubah elemen di indeks ke-4
numbers [3] = 4
#menghapus elemen di indeks ke-2
numbers.pop(2)    #[1, 2, 4]

print (numbers)

[1, 2, 4]

In [ ]:
# deklarasi variable list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

print (numbers)
print (numbers.insert (4, 5))
print (numbers.insert)
print (numbers [3])
print (numbers.pop(2))

[1, 2, 4]
None
<built-in method insert of list object at 0x7ed2c20bbcc0>
5
4

In [ ]:
# deklarasi variable list
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

# cara mengakses elemen dalam variable list
myList [0] # 1
myList [1] #"Rumah"
myList [3] # True
myList [4] # ["Kamar mandi, Kamar tidur"]

# cara mengakses elemen dalam sublist
myList [4][0] # Kamar mandi
myList [4][1] # Kamar tidur

print

In [4]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers [0]  # 23
numbers [1]  # 43
numbers [2]  # 15

print (numbers [0])
print (numbers [1])
print (numbers [2])

23
43
15

In [6]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b= {2, 3, 4}

# operasi gabungan
a. union(b) # {1, 2, 3, 4}

# operasi irisan
a. intersection(b) # {2, 3}

# operasi perbedaan
a. symmetric_difference(b) # {1, 4}

{1, 4}

In [11]:
# deklarasi variabel dictionary
propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary
propertyDetail["numFloors"] = False
propertyDetail["hasTerrace"]   # False

True