<a href="https://colab.research.google.com/github/nasywaauliya2/Pemerograman-Dasar/blob/main/Tugas6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
angka = [40, 30, 20, 10]
total = sum(angka)
print("Total nilai:", total)

Total nilai: 100

In [2]:
nama = "nasywa"
panjang = len(nama)
print("Jumlah huruf:", panjang)

Jumlah huruf: 6

In [3]:
nilai = [96, 85, 75, 62, 81, 54]
print("Nilai tertinggi:", max(nilai))
print("Nilai terendah:", min(nilai))

Nilai tertinggi: 96
Nilai terendah: 54

In [5]:
nama = input("Masukkan nama kamu: ")
print("Halo,", nama)

Masukkan nama kamu: nasywa auliya
Halo, nasywa auliya

In [6]:
x = 5.30
print("Tipe data x adalah:", type(x))

Tipe data x adalah: <class 'float'>